# Redirect non successful queries to index.php.

<IfModule mod_rewrite.c>   
RewriteEngine On 
# only one .htaccess needed
RewriteBase / 
# stops parsing when it meets index.php
RewriteRule ^index\.php$ - [L] 
# If the request is for a real directory (one that exists on the server), index.php isn't served.
RewriteCond %{REQUEST_FILENAME} !-f 
# If the request is for a file that exists already on the server, index.php isn't served. 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule . /data2/index.php [L] # for testing 
# RewriteRule . /data/index.php [L] # for production 
</IfModule> 